body{
    background-color: #1e252b;
}

.antools{
    color: white;
}

.ul-menu{
    display: flex;
    gap: 50px;
    max-width: 1215px;
    list-style: none;
    outline: 1px solid green;
    display: flex;
   margin-left: 150px;
}

.menu{
color: white;
font-size: 16px;
margin-left: 17px;
gap: 10px;
}

.button{
    background-color: #FF6E30;
    color: #FDF5FF;
}